{% extends "base.html.twig" %}

{% block title %}Portfolio dividend tracker importer{% endblock %}

{% block body %}
    <div class="row">
        <div class="text-start">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
